
<p> Hello Admin, </p>


<p> An addition to our size </p>

details:

<br>
name: <%= @userfname %> <%= @userlname %>
<br>
User id: <%= @userid %>
<br>
User name: <%= @username %>
<br>
Location: <%= @userlocation %>
<br>

<%= link_to 'See profile',user_url(@user) %> </p>
