= simple_form_for @career do |f|
	= f.input :advertiser
	= f.input :title
	= f.input :description
	= f.input :qualification
	= f.input :contract_nature
	= f.input :salary
	= f.input :start_date
	= f.input :application_deadline

	= f.button :submit

